body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background: url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d?auto=format&fit=crop&w=3840&q=80") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.15);
    padding: 25px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.title {
    text-align: center;
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 600;
}

.input-area {
    display: flex;
    gap: 10px;
}

#inputText {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
}

#addBtn {
    padding: 12px 20px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

#addBtn:hover {
    background: #45a049;
    transform: scale(1.05);
}

.item {
    background: rgba(255, 255, 255, 0.25);
    padding: 12px;
    margin-top: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fade 0.3s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

span {
    font-size: 18px;
    color: white;
}

.deleteBtn, .statusBtn, .editBtn {
    padding: 7px 12px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s;
}

.deleteBtn { background: rgb(255, 67, 67); }
.deleteBtn:hover { background: rgb(255, 40, 40); transform: scale(1.1); }

.statusBtn { background: rgb(255, 67, 67); }
.statusBtn:hover { transform: scale(1.05); }

.editBtn { background: rgb(67, 147, 255); }
.editBtn:hover { transform: scale(1.05); }
